.vs
.vscode
.idea
*.hprof
*.png
*.md
*.sh
coverage
.gradle
gradle
src
build/classes
build/generated
build/jacoco
build/reports
build/test-results
build/resources
build/tmp
build.gradle
gradle.properties
gradlew
gradlew.bat
lombok.config
settings.gradle
sonar-project.properties
Dockerfile
