<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender"
              name="Console">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{YYYY-MM-dd-HH:mm:ss.SSS}-%(%level)-[%(%t)]-[%(%replace(%X{Correlation-Id}){'^$',
                'system'})]-[%X{client-id}]-[%X{businessUnitId}]-%(%C{1.})-%X{dd.trace_id:-0} %X{dd.span_id:-0}-%msg%throwable%n
            </Pattern>
        </layout>
    </appender>

    <appender name="APP_EVENTS" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                APP_EVENTS%d{YYYY-MM-dd-HH:mm:ss.SSS}\t%(%level)\t%(%replace(%X{Correlation-Id}){'^$',
                'system'})\t%X{client-id}\t%X{businessUnitId}\t%msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- LOG "com.sysco" at TRACE level -->
    <logger additivity="false" level="trace" name="com.sysco">
        <appender-ref ref="Console"/>
    </logger>
    <!-- LOG everything at INFO level -->
    <property name="LOGS" value="./logs"/>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger name="metricsLogger" level="INFO" additivity="false">
        <appender-ref ref="APP_EVENTS"/>
    </logger>

</configuration>
